$headerImg: url("../img/m-h-day.jpg");
$buttonColor: #699900;
$buttonHover: lighten($buttonColor, 10%);
$lineColor: #14A0C7;
$backgroundColor: #21232E;
$bodyColor: #fff;
$barColor: linear-gradient(to right, rgba(99, 147, 20, 1) 0%, rgba(48, 94, 205, 1) 100%);
$textColor: #2C2F3C;
$textFont: 'Source Sans Pro', sans-serif;