$headerImg: url("../img/m-h-night.jpg");
$buttonColor: #E3AC00;
$buttonHover: lighten($buttonColor, 10%);
$lineColor: #FF4E33;
$backgroundColor: #3B3F50;
$bodyColor: #21232E;
$barColor: linear-gradient(to right, rgba(219, 159, 7, 1) 0%, rgba(146, 44, 81, 1) 100%);
$textColor: #fff;
$textFont: 'Fresca', sans-serif;